
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="carousel-img" src="~/Content/Images/Home/Slider/thailand.png" alt="Los Angeles">
                </div>
                <div class="carousel-item">
                    <img class="carousel-img" src="~/Content/Images/Home/Slider/japan.png" alt="Chicago">
                </div>
                <div class="carousel-item">
                    <img class="carousel-img" src="ny.jpg" alt="New York">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p class="autumn-title">Autumn Travel</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="item-travel">
                <img src="~/Images/Home/logo.png" class="img-tour" />
                <h6 class="childtitle-tour">Japan Tour</h6>
                <h6 class="have-tour mt-2">21 Tour</h6>
                <span class="timeline-tour"><h6 class="time-line">6 Days 4 Nights</h6></span>
                <a href="" class="link-detailtour"><p class="title-nametour">Japan Travel [Chitose - Noboribetsu - Jozankeu - Otaru - Sapporo]</p></a>
                <a href="" class="btn btn-primary btn-buy">Buy</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="item-travel">
                <img src="~/Images/Home/logo.png" width="380" height="250" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="item-travel">
                <img src="~/Images/Home/logo.png" width="380" height="250" />
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-6">
            <a href="" class="thumnailtet-href"><img src="~/Content/Images/Home/thumnailtet.png" class="thumnailtet-content" /></a>
        </div>
        <div class="col-md-6">
            <a href="" class="thumnaildiscount-href"><img src="~/Content/Images/Home/thumnaildiscount.png" class="thumnailtet-content" /></a>
        </div>
    </div>
</div>
<div class="parallax">
    <div class="content-boxlax">
        <div class="content-header">
            <p class="headercontent-content">PIONEER EDITHTOURIST TRAVEL TO DEPLOY 2024 TET TOURS EARLIER</p>
            <p class="navcontent-content">Edithtourist Travel has pioneered the earliest deployment of attractive and rich domestic and foreign tour programs to celebrate the Lunar New Year - Giap Thin 2024 with incentives to buy tours early, in groups.</p>
            <a href="" class="btn btn-primary btn-seemore">See more</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="hot-tour mt-4 mb-4">Location Trending</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="box-trending">
                <img src="~/Content/Images/Home/vietnamtrending.jpg" class="box-img-trending" />
                <div class="overlay">
                    <div class="text">VIET NAM</div>
                </div>
                <p class="box-have-trending mt-3">There are 300 Vietnam Tours</p>
                <a href="" class="box-newpost-trending">New Posts</a>
                <p class="box-content-trending"><a href="" class="box-contenthref-trending">Vietnam is in the top 20 most beautiful countries on the planet</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box-trending"></div>
        </div>
        <div class="col-md-4">
            <div class="box-trending"></div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="box-standard"></div>
        </div>
        <div class="col-md-3">
            <div class="box-standard"></div>
        </div>
        <div class="col-md-3">
            <div class="box-standard"></div>
        </div>
        <div class="col-md-3">
            <div class="box-standard"></div>
        </div>
    </div>
</div>






